* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    background: linear-gradient(to bottom, #6c4925, #aa8a1e);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar-2 {
    background: linear-gradient(to bottom, #d9c423, #e05c0f);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#navbar-2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar-2 .cta-button {
    background-color: #d9c129;
    color: rgb(250, 250, 250);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#navbar-3 {
    background: linear-gradient(to bottom, #6c4925, #aa8a1e);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
h1 {
    display: flex;
    text-align: center;
}
#navbar-3 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar-3 .cta-button-2 {
    background-color: #d9c129;
    color: rgb(250, 250, 250);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#header {
    position: sticky;
    top: 0px;
}
#navbar-bottom-3 {
    background: linear-gradient(to bottom, yellowgreen, olive);
    display: flex;
}

#navbar-bottom-3 a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
    align-items: center;
}
