* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/space5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#navbar {
    background: linear-gradient(to bottom, #337682, #52479d);
    position: sticky;
    text-align: center;
    top: 0px;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(0deg, #1115, #1115), 
    url(../images/food2.jpg);
    background-size: contain;
    background-position: center;
}

#headers {
    text-align: center;
    justify-content: space-between;
    font-size: 24px;
}


#navbar a {
    text-decoration: none;
    color: #ffffff;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 200px;
}
#navbar .cta-button {
    background-color: #d3d327;
    color: #ffffff;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#headers {
    margin: auto;
    padding: 12px 24px;
    justify-content: space-between;
}
.cta-button {
    margin-left: auto;
}
#layout {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 24px auto;
    color: #ffffff;
}

p {
    font-size: 24px;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card img {
    height: 150px;
    object-fit: cover;
}

.card {
    width: 350px;
    border: 2px solid #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #817777;
    background: linear-gradient(-50deg,#84d2de, #dcdfd3, #52479d );
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
}

.card p {
    font-size: 18px;
}

.card .btn {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid #d3d327;
    padding: 10px;
    transition: 
    background-color 0.5s,
    color 0.5s
    ;
    &:hover{
        background-color: transparent;
        color: #52479d;
    }
}

#footer {
    background: linear-gradient(to bottom, #337682, #52479d);
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
}