* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/paws.jpg);
    background: linear-gradient(90deg,transparent, #000, #000, transparent), 
    url(../images/paws.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
   
}

#info {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}

#navbar {
    background: linear-gradient(to bottom, #629fd0, #87d9ad);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
}

#assist {
    background-color: #8782ee;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#assist:hover{
    background: linear-gradient(75deg, #f8a2e1, #d09979);
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, #7980d0, #99cedc);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.drop-contain {
    position: relative;
}

.drop-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s
    ;
}

.drop-contain:hover .drop-menu{
    opacity: 1;
    visibility: visible;
}

.drop-menu a {
    background-color: #8782ee;
    width: 100%;
    min-width: 200px;
}

#navbar .drop-menu a:hover {
    background-color: #5eb996;
    color: #ffffff;
}