* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/cats.jpg);
    background: linear-gradient(-90deg,transparent, #87d9ad, #629fd0, transparent)
    , url(../images/cats.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
   
}

#info {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}

#navbar {
    background: linear-gradient(to bottom, #629fd0, #87d9ad);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
}

#assist {
    background-color: #8782ee;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#assist:hover{
    background: linear-gradient(75deg, #f8a2e1, #d09979);
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(to top, #7980d0, #99cedc);
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.drop-contain {
    position: relative;
}

.drop-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s
    ;
}

.drop-contain:hover .drop-menu {
    opacity: 1;
    visibility: visible;
}


.drop-menu a {
    background-color: #8782ee;
    width: 100%;
    min-width: 200px;
}

#navbar .drop-menu a:hover {
    background-color: #5eb996;
    color: #ffffff;
}
.images{
    border-radius: 48px;
}
#bruce {
    border: 2px solid #c4f60c;
    border-radius: 24px;
}
#leroy {
    border: 2px solid #f60ce6;
    border-radius: 24px;
}
#gilbert {
    border: 2px solid #0ce3f6;
    border-radius: 24px;
}

@media screen and (max-width: 768px) {
    #navbar {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .drop-contain {
        font-size: 24px;
        margin: 0px;
    }
    a {
        font-size: 24px;
        margin: 0px;
    }
    #info {
        flex-direction: column;
        gap: 24px;
        text-align: center;

    }

    #assist {
        flex: 50%;
        text-align: center;
       justify-content: center;
    }

    .images, #pics{

        flex: 250px;
        width: 100%;
        background-position: center;
        justify-content: center;
        object-position: top;
        
    }
    #bruce {
        flex: 250px;
        width: 100%;
        justify-content: center;
        object-position: top;
    }
    #leroy {
        flex: 250px;
        width: 100%;
        justify-content: center;
        object-position: top;
    }
    #gilbert {
        flex: 250px;
        width: 100%;
        justify-content: center;
        object-position: top;
    }
}   